@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    background: url(./images/bg-intro-desktop.png) #ff7979;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 5rem 0;
}

h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 5.5rem;
}

p {
    margin-top: 25px;
}

.container {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container>* {
    max-width: 50rem;
}

.form-title {
    background-color: #5e54a4;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    padding: 1.7rem;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
}

.form-body {
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
    box-shadow: 0 0.8rem 0 rgba(0, 0, 0, 0.15);
    color: #5e54a4;
    margin-top: 3rem;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.form-control input {
    width: 100%;
    padding: 1.5rem .3rem;
    font-size: 1.4rem;
    line-height: 2.6rem;
    font-weight: 600;
}

.form-control input::placeholder {
    color: hsl(249, 10%, 26%);
    font-size: 1.4rem;
    font-weight: 600;
}

.form-control input:focus {
    outline: none;
    border: 2px solid #5e54a4;
}

.form-control.success input {
    outline: none;
    border: 2px solid #38cc8b;
}

.form-control.error input {
    outline: none;
    border: 2px solid #ff7979;
}

.form-control img {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-100%);
    visibility: hidden;
}

.form-control small {
    font-size: 1.1rem;
    font-weight: bold;
    color: #ff7979;
    font-style: italic;

    float: right;
    visibility: hidden;
}

.form-control.error img,
.form-control.error small {
    visibility: visible;
}


.btn {
    width: 100%;
    padding: 1.5rem;
    border: none;
    text-transform: uppercase;
    background-color: rgb(61, 239, 179);
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    box-shadow: inset 0 -0.4rem 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.end-message {
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: grey;
}

.end-message a {
    color: #ff7979;
    text-decoration: none;
}

.end-message a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 2.8rem;
        line-height: 3.6rem;
    }

    .container {
        display: block;
        max-width: 90%;
    }

    .container>* {
        max-width: 50rem;
    }

    .hook-message {
        text-align: center;
        margin-bottom: 2rem;
    }
}
